
<h3 class="page-title">Seed NVD's</h3>

<div class="seed-container">
    <div class="seed">
        <mat-card (click)="seedCPES()" class="seed-button">
            <P>Seed CPE's from NVD</P> 
            <mat-progress-bar *ngIf="seedCpeInProgress"  mode="indeterminate"></mat-progress-bar>
        </mat-card>
        <div class="seed-details">
            <p>{{cpeMsg}}</p>
            <mat-card *ngIf="seedCpeInProgress" (click)="checkCpeTimestamp()" class="check-button">
                <P>Check status</P> 
            </mat-card>
        </div>
        
    </div>
    <div class="seed">
        <mat-card (click)="seedCVES()" class="seed-button">
            <p>Seed CVE's from NVD</p>
            <mat-progress-bar *ngIf="seedCveInProgress"  mode="indeterminate"></mat-progress-bar>
        </mat-card>
        <div class="seed-details">
            <p>{{cveMsg}}</p>
            <mat-card *ngIf="seedCveInProgress" (click)="checkCveTimestamp()" class="check-button">
                <P>Check status</P> 
            </mat-card>
        </div>
    </div>
</div>