.page-title {
    margin: 60px 0 20px 0;
    text-align: center;
    font-weight: 400;
}

.update-container {
    margin: 0 auto;
    max-width: 60%;
    background-color: white;
    display: flex;
    flex-flow: column;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.seed-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.seed {
    width: 40%;
}

@media only screen and (max-width: 555px) {
    .seed-container {
        flex-flow: column;
        padding: 0 20px;
    }

    .seed {
        width: 100%;
    }

    .page-title {
        margin: 60px 0 50px 0;
    }
}

.seed-button {
    text-align: center;
    cursor: pointer;
}
.seed-details {
    margin: 20px 0 0 5px;
    display: flex;
    justify-content: space-between;
}

.check-button {
    cursor: pointer;
}

