<h3 class="page-title">Schedule NVD's updates</h3>

<div class='main-container'>
    <div class="feed-main">
        <mat-form-field>
            <mat-label>Select an update interval</mat-label>
            <mat-select [(value)]="cpeInterval">
                <mat-option>None</mat-option>
                <mat-option value="DAILY">Daily</mat-option>
                <mat-option value="WEEKLY">Weekly</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="button" mat-raised-button class="schedule-button" 
            [disabled]="checkInterval(cpeInterval)" 
            (click)="scheduleCpeUpdate()"
            >Schedule CPE's Update</button>
        <div class="update-message">
            <p>{{cpeMsg}}</p>
        </div>
    </div>
    <div class="feed-main">
        <mat-form-field>
            <mat-label>Select an update interval</mat-label>
            <mat-select [(value)]="cveInterval">
                <mat-option>None</mat-option>
                <mat-option value="DAILY">Daily</mat-option>
                <mat-option value="WEEKLY">Weekly</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="button" mat-raised-button class="schedule-button" 
            [disabled]="checkInterval(cveInterval)"
            (click)="scheduleCveUpdate()"
            >Schedule CVE's Update</button>
        <div class="update-message">
            <p>{{cveMsg}}</p>
        </div>
    </div>
</div>
