.page-title {
    margin: 60px 0 20px 0;
    text-align: center;
    font-weight: 400;
}

.main-container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.feed-main {
    width: 40%;
    display: flex;
    flex-flow: column;
}

@media only screen and (max-width: 555px) {
    .main-container {
        flex-flow: column;
        padding: 0 20px;
    }

    .feed-main {
        width: 90%;
    }

    .page-title {
        margin: 60px 0 50px 0;
    }
}

.schedule-button {
    padding: 7px 0;
    margin-top: 20px;
    text-align: center;
}

.update-message {
    margin-top: 20px;
}