.container {
  display: flex;
  flex: 5;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 20px 81px;
}


.example-card-products {
  max-width: 400px;
}

.image-products {
  background-size: cover;
}

.all-products-page {
  height: 170px;
  width: 190px;
  padding: 5px;
  margin: 5px;
}

.example-card-add {
  max-width: 400px;
}

.image-add {
  background-size: cover;
}

.add-page {
  height: 170px;
  width: 190px;
  padding: 5px;
  margin: 5px;
  }

.search-page {
  height: 170px;
  width: 190px;
  padding: 5px;
  margin: 5px;
}

.example-card-search {
  max-width: 400px;
}

.image-search {
  background-size: cover;
}

.hover {
  cursor:pointer;
 }

 .containerAssignedAndNot {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 20px 81px;
}

.center_flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.center{
  text-align: center;
}

@media (max-width: 915px) {
  .containerAssignedAndNot {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }
}

