<!-- <div *ngIf = "this?.authService?.loggedInUser$?.value?.role" class="container"> -->
<div *ngIf = "loggedIn" class="container">
  <mat-card class="example-card-products" [routerLink]="['/products']" class="hover">
    <mat-card-header >
      <div mat-card-avatar class="image-products"></div>
      <mat-card-title ><i>All products</i></mat-card-title>
    </mat-card-header>
    <img class="all-products-page" src="assets/images/products.jpg">
  </mat-card>

  <mat-card class="example-card-add" [routerLink]="['/products/add-product']" class="hover">
    <mat-card-header>
      <div mat-card-avatar class="image-add"></div>
      <mat-card-title ><i>Add product</i></mat-card-title>
    </mat-card-header>
    <img class="add-page" src="assets/images/add-product.jpg">
  </mat-card>

  <mat-card class="example-card-search" [routerLink]="['/search']" class="hover">
    <mat-card-header>
    <div mat-card-avatar class="image-search"></div>
      <mat-card-title><i>Search page</i></mat-card-title>
    </mat-card-header>
    <img class="search-page" src="assets/images/search.jpg">
  </mat-card>
</div>


<!-- <div *ngIf = "this?.authService?.loggedInUser$?.value?.role" class="containerAssignedAndNot"> -->
<div *ngIf = "loggedIn" class="containerAssignedAndNot">
  <mat-card class="example-card-search" [routerLink]="['/products/assigned']" class="hover">
    <mat-card-header class="center_flex">
    <!-- <div mat-card-avatar class="image-search"></div> -->
      <mat-card-title class="center"><i>{{assigned}} with CVE's</i></mat-card-title>
    </mat-card-header>
    <img class="search-page" src="assets/images/assigned.jpg">
  </mat-card>

  <mat-card class="example-card-search" [routerLink]="['/products/unassigned']" class="hover">
    <mat-card-header class="center_flex">
      <!-- <div mat-card-avatar class="image-search"></div> -->
      <mat-card-title class="center"><i>{{unassigned}} with no CVE's</i></mat-card-title>
    </mat-card-header>
    <img class="search-page" src="assets/images/not assigned.jpg">
  </mat-card>
</div>
