.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-image {
  size: 20px;
  height: 60px;
}

@media (max-width: 915px) {
  .header-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .logo-image {
    display: none;
  }

  .btn-block {
    padding: 0 5px;
  }

  .nav-container {
    margin: 5px 0;
  }
}

.side-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.username {
  margin: 0 0 0 15px;
  font-size: 18px;
}

.nav-container {
  display: flex;
  align-items: center;
}
