<div class="header-container">
  <a [routerLink]="['/home']">
<img class="logo-image" src="assets/images/diw-logo-main-small.png">
</a>
<div class="nav-container">
<app-nav-bar [loggedIn]="loggedIn"></app-nav-bar>
</div>
<div class="side-container">
  <button *ngIf = "!loggedIn" color="warn" mat-flat-button class="btn-block" (click)="this.openDialog()" style="font-size: 16px; margin-left: 190px;">Log in</button>
   <button *ngIf = "this.loggedIn && this.authService.loggedInUser$.value.role==2" mat-flat-button class="btn-block" color="warn"
    (click)="this.openDialogforSignUp()" style="font-size: 16px; font-weight: 400;">Add user</button>
  <button *ngIf = "this.loggedIn && this.authService.loggedInUser$.value.role==2" mat-flat-button class="btn-block" color="warn"
    [routerLink]="['/admin']" style="font-size: 16px; font-weight: 400; margin-left: 5px;">Admin</button>
  <button *ngIf = "loggedIn" color="warn" mat-flat-button class="btn-block"  (click)="logout()" style="font-size: 16px; margin-left: 5px;" [routerLink]="['/home']">Log out</button>
  <h6 *ngIf = "loggedIn" class="username">{{user?.name}}</h6>
</div>
</div>
