<h1 mat-dialog-title align="center">Attention!</h1>
<div mat-dialog-content>This operation will take a while, are you sure you want to continue</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
</div>
