<h1 class="page-title">Search products</h1>

<div class="form-container">
  <form>
    <div>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button
          value="1"
          class="radio-button"
          (click)="this.radioButtonByVendor()"
          >By vendor</mat-radio-button
        >
        <mat-radio-button
          value="2"
          class="radio-button"
          (click)="this.radioButtonByProduct()"
          >By product</mat-radio-button
        >
        <mat-radio-button
          value="3"
          class="radio-button"
          (click)="this.radioButtonByCpeUri()"
          >By CPE-cpe23Uri</mat-radio-button
        >
        <mat-radio-button
          value="4"
          class="radio-button"
          (click)="this.radioButtonByTitle()"
          >By CPE-title</mat-radio-button
        >
        <mat-radio-button
          value="5"
          class="radio-button"
          (click)="this.radioButtonByCveId()"
          >By CVE-ID</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <div class="middle-container">
      <mat-form-field
        class="example-full-width search-field"
        *ngIf="this.buttonValue === 3"
      >
        <mat-label>Search</mat-label>

        <input
          matInput
          [(ngModel)]="this.search.cpe23Uri"
          #message
          maxlength="55"
          name="cpe23Uri"
          placeholder="Please write here in the field"
        />

        <mat-hint>{{ message.value.length }} / 55</mat-hint>

        <button
          *ngIf="this.buttonValue === 3"
          mat-icon-button
          class="search-icon"
          (click)="this.searchProductByCpe(this.search)"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        class="example-full-width search-field"
        *ngIf="this.buttonValue === 4"
      >
        <mat-label>Search</mat-label>

        <input
          matInput
          [(ngModel)]="this.search.title"
          #message
          maxlength="55"
          name="title"
          placeholder="Please write here in the field"
        />
        <mat-hint>{{ message.value.length }} / 55</mat-hint>

        <button
          *ngIf="this.buttonValue === 4"
          mat-icon-button
          class="search-icon"
          (click)="this.searchProductByCpe(this.search)"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        class="example-full-width search-field"
        *ngIf="this.buttonValue === 5"
      >
        <mat-label>Search</mat-label>

        <input
          matInput
          [(ngModel)]="this.search.cveId"
          #message
          maxlength="55"
          name="cveId"
          placeholder="Please write here in the field"
        />
        <mat-hint>{{ message.value.length }} / 55</mat-hint>

        <button
          *ngIf="this.buttonValue === 5"
          mat-icon-button
          class="search-icon"
          (click)="this.searchProductByCveId(this.search)"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        class="example-full-width search-field"
        *ngIf="this.buttonValue === 2"
      >
        <mat-label>Search</mat-label>

        <input
          matInput
          [(ngModel)]="this.search.product"
          #message
          maxlength="55"
          name="product"
          placeholder="Please write here in the field"
        />
        <mat-hint>{{ message.value.length }} / 55</mat-hint>

        <button
          *ngIf="this.buttonValue === 2"
          mat-icon-button
          class="search-icon"
          (click)="this.searchProductByProduct(this.search)"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        class="example-full-width search-field"
        *ngIf="this.buttonValue === 1"
      >
        <mat-label>Search</mat-label>

        <input
          matInput
          [(ngModel)]="this.search.vendor"
          #message
          maxlength="55"
          name="vendor"
          placeholder="Please write here in the field"
        />
        <mat-hint>{{ message.value.length }} / 55</mat-hint>

        <button
          *ngIf="this.buttonValue === 1"
          mat-icon-button
          class="search-icon"
          (click)="this.searchProductByVendor(this.search)"
        >
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>

  <mat-list class="product-list" role="list">
    <div
      *ngFor="let product of products; last as last"
      class="product-item"
      [routerLink]="['/', 'products', product.id]"
    >
      <div class="product-item_details">
        <div class="product-details_main">
          <h4 class="product-item_title">{{ product.product }}</h4>
          <div class="weak">
            <div>version:</div>
            <div>vendor:</div>
          </div>
        </div>
        <div class="product-details_secondary">
          <div class="">&nbsp;{{ product.version }}</div>
          <div class="">&nbsp;{{ product.vendor }}</div>
        </div>
      </div>
      <div class="product-item_icon">
        <mat-icon
          *ngIf="product.assignedCves.length > 0"
          color="warn"
          svgIcon="alarm_on"
        ></mat-icon>
        <div
          *ngIf="product.assignedCves.length === 0"
          class="product_icon-text"
        >
          no CVE's
        </div>
        <div
          *ngIf="product.assignedCves.length === 0"
          class="product_icon-text"
        >
          assigned
        </div>
      </div>
    </div>
  </mat-list>
</div>
