.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  }

  .logo-image {
    size: 20px;
    height: 60px;
    }

    .side-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .username {
      margin: 0 0 0 15px;
      font-size: 18px;
    }
