
<div *ngIf="!isHome() && loggedIn">
<mat-chip-list>
  <mat-chip class="hover" color="warn" selected [disabled] = "isAllProducts()" [routerLink]="['/products']">All products</mat-chip>
  <mat-chip class="hover" color="warn" selected [disabled] = "isAddProduct()" [routerLink]="['/products/add-product']">Add product</mat-chip>
  <mat-chip class="hover" color="warn" selected [disabled] = "isSearchPage()" [routerLink]="['/search']">Search page</mat-chip>
</mat-chip-list>
</div>
