
.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main-content {
  padding: 20px 10%;
}

@media only screen and (max-width: 1600px) {
  .main-content {
    padding: 20px 5%;
  }
}

.custom-image {
  min-height: 90vh;

  background-image: linear-gradient(to
  bottom,
  rgba(255, 255, 255, 0.39),
  rgba(255, 255, 255, 0.349)) ,
  url("../assets/images/vulnerability.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
}

