.page-title {
    margin: 50px 0 80px 0;
    text-align: center;
    color: white;
    /* font-style: italic; */
    font-weight: 400;
}

.admin-container {
    margin: 0 auto;
    max-width: 60%;
    background-color: white;
    display: flex;
    flex-flow: column;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media only screen and (max-width: 1000px) {
    .admin-container {
        max-width: 99%;
    }
}