<div class="entry">
    <h1>{{product}}</h1>
    <div>
        <h4>vendor: {{vendor}}</h4>
        <h4>version: {{version}}</h4>
    </div>
    CPE:
    <br>
    <h5>{{cpes}}</h5>
    <br>
    CVEs:
    <br>
    <h5>{{cves}}</h5>
    <br>
</div>