<h1 class="page-title">Product details</h1>

<div *ngIf="product"  class="details-container">
    <div class="product_width flex-column">
        <div class="flex-column product-meta">
            <h3 class="column-title">Product</h3>
            <div *ngIf="product" class="product-list">
                <div class="product-item">
                    <div class="item-main">
                        <h4 class="product-item_title"> {{product.product}} </h4>
                        <div class="item-desc"><span class="week">vendor:</span> {{product.vendor}}</div>
                        <div class="item-desc"><span class="week">version:</span> {{product.version}}</div>
                    </div>
                    <div class="item-secondary">
                        <mat-icon *ngIf="assignedCves.length > 0" color="warn" svgIcon="alarm_on" ></mat-icon>
                        <mat-icon *ngIf="assignedCves.length === 0" class="icon-off" svgIcon="alarm_off" ></mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-container">
           <app-email *ngIf="this.assignedCves.length" [product]="product"></app-email>
        </div>
    </div>

    <div class="cpe-cve_width flex-column">
        <h3 class="column-title">CPE's</h3>
        <div class="product-list cve-cpe-list">
            <div *ngFor="let cpe of cpeMatches; last as last" class="product-item">
                <div class="item-main">
                    <h4 class="product-item_title"> {{cpe?.title}} </h4>
                    <div class="item-desc"> {{cpe?.cpe23Uri}}</div>
                </div>
                <div class="item-secondary">
                    <mat-icon *ngIf="cpe?.id === assignedCpe?.id" color="warn" (click)="unassignCpe()" class="icon-on" svgIcon="alarm_on" ></mat-icon>
                    <mat-icon *ngIf="cpe?.id !== assignedCpe?.id" (click)="assignCpe(cpe.id)" class="icon-off" svgIcon="alarm_add" ></mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="cpe-cve_width flex-column">
        <h3 class="column-title">CVE's</h3>
        <div class="product-list cve-cpe-list">
            <div *ngFor="let cve of cveMatches; last as last" class="product-item">
                <div class="item-main">
                    <h4 class="product-item_title"> {{cve.cveID}} </h4>
                    <div class="cve-desc"> {{cve.description}}</div>
                    <div class="cve-desc"><span class="week">severity:</span> {{cve.severity}}</div>
                    <div class="cve-desc"><span class="week">lastModifiedDate:</span> {{cve.lastModifiedDate}}</div>
                </div>
                <div class="item-secondary">
                    <mat-icon *ngIf="checkCveAssignment(assignedCves, cve)" color="warn" (click)="unassignCve(cve.id)" class="icon-on" svgIcon="alarm_on" ></mat-icon>
                    <mat-icon *ngIf="!checkCveAssignment(assignedCves, cve)" (click)="assignCve(cve.id)" class="icon-off" svgIcon="alarm_add" ></mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
