.page-title {
    margin: 5px 0 20px 0;
    text-align: center;
    color: white;
    /* font-style: italic; */
    font-weight: 400;
}

.spiner {
    margin: 20px auto;
}

.column-title {
    margin: 20px 0;
    font-weight: 400;
    align-self: center;
}

.details-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product_width {
    width: 24%;
}

.product-meta {
    background-color:white;
}

.email-container {
    margin-top: 20px;
    width: 50%;
}

.cpe-cve_width {
    width: 37%;
    background-color:white;
}

.flex-column{
    display: flex;
    flex-flow: column;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.product-list {
    display: flex;
    flex-flow: column;
    padding: 0 0 20px 0;
    max-height: 74vh;
    background-color:white;
    overflow-y: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.cve-cpe-list{
    min-height: 82px;
}

.product-list::-webkit-scrollbar-track{
    width: 5px;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-list::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-list::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(202, 200, 200);
    border-radius:  5px   ;
    -webkit-border-radius:  5px   ;
    -moz-border-radius:  5px   ;
    -ms-border-radius:  5px   ;
    -o-border-radius:  5px   ;
}

.product-item {
    margin: 0 20px;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item:not(:last-child) {
    border-bottom: 1px solid rgb(233, 233, 233);
}

.product-item_title {
    margin: 0 0 5px 0;
   font-weight: 500;
}

.item-desc {
    font-size: 14px;
    word-wrap: break-word;

}

.cve-desc {
    margin: 5px 0 0 0;
    font-size: 14px;
}

span.week {
    font-weight: lighter;
}

.item-main{
    width: 95%;
    padding-right: 5px;
}

.item-secondary {
    width: 40px;
    text-align: center;
}

.icon-off {
    color: gray;
    cursor: pointer;
 }

 .icon-on {
    cursor: pointer;
 }

 @media (max-width: 915px) {
  .details-container {
    flex-direction: column;
  }

  .flex-column {
    width: 100%;
  }
}
