.page-title {
    margin: 50px 0 80px 0;
    text-align: center;
    color: white;
    font-weight: 400;
}

.form-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 45px 15px 30px 15px;
    max-width: 500px;
    background-color:white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.form-field {
    width: 100%;
}

.form-main{
    width: 90%;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}

.form-button{
    align-self: flex-end;
}