
<h1 class="page-title">Add new product</h1>

<div class="form-container">
    <form [formGroup]="productForm" class="form-main">
  
      <mat-form-field class="form-field">
        <mat-label>Product</mat-label>
        <input formControlName="product" matInput type="text" placeholder="Product name">
        <mat-error *ngIf="this.productForm.controls.product?.errors?.required">Product is required</mat-error>
      </mat-form-field>
  
      <br/>
  
      <mat-form-field class="form-field">
        <mat-label>Vendor </mat-label>
        <input formControlName="vendor" matInput type="text" placeholder="Product vendor">
        <mat-error *ngIf="this.productForm.controls.vendor?.errors?.required">Vendor is required</mat-error>
       <!-- <mat-error *ngIf="this.testForm.controls.email?.errors?.minlength">Email should be at least 6...</mat-error> -->
      </mat-form-field>
  
      <br/>

      <mat-form-field class="form-field">
        <mat-label>Version</mat-label>
        <input formControlName="version" matInput type="text" placeholder="Product version">
        <mat-error *ngIf="this.productForm.controls.version?.errors?.required">Version is required</mat-error>
      </mat-form-field>
  
      
      <br/>
      <button mat-flat-button color="warn" type="button" (click)="addProduct()"  [disabled]="!this.productForm.valid" class="form-button">Add product</button>
    </form>
  </div> 

