<div>
  <form [formGroup]="this.userCredentialsForm">
  <div mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Username</mat-label><input matInput #usenameInput [(ngModel)]="this.data.username" formControlName="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label><input matInput [(ngModel)]="this.data.password" #passwordInput type="password" formControlName="password">
      </mat-form-field>
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="this.data" color="primary" [disabled]="this.userCredentialsForm.invalid">Log in</button>
  </div>
</form>
</div>
