<h1 mat-dialog-title>CVE's already assigned!</h1>
<div mat-dialog-content>To continue, please unassign all CVE's! </div>
<div mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Close</button>
</div>
