.page-title {
    margin: 50px 0 80px 0;
    text-align: center;
    color: white;
    /* font-style: italic; */
    font-weight: 400;
}

.product-list {
    margin: 0 auto;
    padding: 20px 0;
    width: 50%;
    max-height: 74vh;
    background-color:white;
    overflow-y: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media only screen and (max-width: 1200px) {
    .product-list {
        width: 100%;
    }
}

.product-list::-webkit-scrollbar-track{
    width: 5px;
    background: transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-list::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-list::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(202, 200, 200);
    border-radius:  5px   ;
    -webkit-border-radius:  5px   ;
    -moz-border-radius:  5px   ;
    -ms-border-radius:  5px   ;
    -o-border-radius:  5px   ;
}

.product-item {
    margin: 0 20px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.product-item:not(:last-child) {
    border-bottom: 1px solid rgb(233, 233, 233);
}

.product-item_details {
   flex: 1;
   padding-bottom: 10px;
   display: flex;
   cursor: pointer;
}

.product-details_main {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.product-details_secondary {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 14px;
}

.product-item_title {
    margin: 0;
    padding-right: 40px;
   font-weight: 500;
   align-self: center;
}

.product-item_icon {
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.product_icon-text {
    font-weight: 100;
    color: gray;
    font-size: 12px;
    cursor: pointer;
 }

.weak {
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: 100;
    font-size: 14px;
}

@media (max-width: 915px) {
  .weak {
      display: none;
  }
}
