
<h1 *ngIf="!itemMatch"  class="page-title">All products</h1>
<h1 *ngIf="itemMatch === 'assigned'" class="page-title">Products with CVE's assigned</h1>
<h1 *ngIf="itemMatch === 'unassigned'" class="page-title">Products without CVE's assigned</h1>

<mat-list class="product-list" role="list">
    <div   *ngFor="let product of products; last as last" class="product-item"  [routerLink] = "['/', 'products', product.id]">
        <div class="product-item_details">
            <div class="product-details_main">
                <h4 class="product-item_title"> {{product.product}} </h4>
                <div class="weak">
                    <div>version:</div>
                    <div>vendor:</div>
                </div>
            </div>
            <div class="product-details_secondary">
                <div class="">&nbsp;{{product.version}} </div>
                <div class="">&nbsp;{{product.vendor}} </div>
            </div>
        </div>
        <div class="product-item_icon">
            <mat-icon *ngIf="product.assignedCves.length > 0" color="warn" svgIcon="alarm_on" ></mat-icon>
            <div *ngIf="product.assignedCves.length === 0" class="product_icon-text">no CVE's</div>
            <div *ngIf="product.assignedCves.length === 0" class="product_icon-text">assigned</div>
        </div>
    </div>
</mat-list>

 