<div>
  <form [formGroup]="this.userCredentialsFormSignUp">
  <div mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Username</mat-label><input matInput #usenameInput [(ngModel)]="this.data.username"   formControlName="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label><input matInput [(ngModel)]="this.data.password" #passwordInput type="password"  formControlName="password">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Name</mat-label><input matInput [(ngModel)]="this.data.name" formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label><input matInput="email" [(ngModel)]="this.data.email" formControlName="email" placeholder="pat@example.com">
      </mat-form-field>
    </p>

  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="this.data" color="primary" [disabled]="this.userCredentialsFormSignUp.invalid">Sign up</button>
    <button mat-button (click)="this.onNoClick()" color="primary">No thanks</button>
  </div>
</form>
</div>
